---
layout: default
---

<h3>Welcome to the Yu Lab</h3>
<p class="home-intro">
 Our lab operates at the intersection of genomics, data science and cancer biology. Opening in July 2026, we aim to uncover intra- and inter-cellular mechanisms of <strong>cancer cell plasticity</strong>, the ability of cancer cells to transit between distinct phenotypic states to resist treatment and evade immune surveillance. We will leverage cutting-edge <strong>single-cell and spatial omics**</strong> technologies, statistical and machine learning approaches, along with collaborative functional studies. Our research focuses on several key areas:

<ul>
  <li>Transcriptional and epigenetic regulation</li>
  <li>Cell-cell communication within the tumor microenvironmentm</li>
  <li>The impact of inflammation on the plasticity of cancer cells</li>
</ul>

</p>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
